<form [formGroup]="FormGroupName" class="w-100">
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>State <span class="error" *ngIf="IsStateRequire">*</span></mat-label>
                <mat-select id="{{'ddl'+StateFormControlName}}" formControlName="{{StateFormControlName}}" (change)="FindZipCode()" [ngClass]="{ 'is-invalid': submitted && StateError }">
                    <mat-option *ngFor="let row of AllState" [value]="row.name">
                        {{row.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>City <span class="error" *ngIf="IsCityRequire">*</span></mat-label>
                <input type="text" id="{{'txt'+CityFormControlName}}" (blur)="FindZipCode()" matInput formControlName="{{CityFormControlName}}" [ngClass]="{ 'is-invalid': submitted && CityError }">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Zip <span class="error" *ngIf="IsZipRequire">*</span></mat-label>
                <input id="{{'txt'+ZipFormControlName}}" type="text" (keyup)="FindCityState()" matInput formControlName="{{ZipFormControlName}}" [ngClass]="{ 'is-invalid': submitted && ZipError }" maxlength="5" [mask]="zipMask" [dropSpecialCharacters]="false" [showMaskTyped]="showMask"
                    (focus)="addMask($event);">
            </mat-form-field>
            <datalist id="{{'lst'+ZipFormControlName}}"></datalist>
        </div>
        <div class="col-md-3" *ngIf="IsCountryShow">
            <mat-form-field appearance="outline">
                <mat-label>Country </mat-label>
                <input type="text" matInput formControlName="{{countryFormControlName}}">
            </mat-form-field>
        </div>
    </div>
</form>