<!-- Dashboard content -->

<div class="col-xl-12">

    <!-- Marketing campaigns -->
    <div class="card mt-2">

        <div class="table-responsive" style="display: none;">

            <div id="invoice">


                <div class="invoice overflow-auto">
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <div class="signin-head">
                                <h6>Today</h6>
                                <h4>Signin Time</h4>

                                <table border="0" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>

                                            <th class="text-left"><b>FIRST NAME &  LAST NAME</b></th>
                                            <th class="text-right"><b>SIGN IN</b></th>

                                            <th class="text-right"><b>SIGN OUT</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">
                                                <h2>
                                                    <a>
                                                        <span class="badge badge-mark border-blue mr-1"></span> Carl Jackson
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="unit">02:00</td>

                                            <td class="total">03:00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h2>
                                                    <a>
                                                        <span class="badge badge-mark border-blue mr-1"></span> Nicholas Abell
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="unit">02:00</td>

                                            <td class="total">03:00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h2>
                                                    <a>
                                                        <span class="badge badge-mark border-blue mr-1"></span> James Adams
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="unit">02:00</td>

                                            <td class="total">03:00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h2>
                                                    <a>
                                                        <span class="badge badge-mark border-blue mr-1"></span> Jose Abularach
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="unit">02:00</td>

                                            <td class="total">03:00</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 mt-2">
                            <div class="signin-head">
                                <h6>Yesterday</h6>
                                <h4>Signin Time</h4>

                                <table border="0" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>

                                            <th class="text-left"><b>FIRST NAME &  LAST NAME</b></th>
                                            <th class="text-right"><b>SIGN IN</b></th>

                                            <th class="text-right"><b>SIGN OUT</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">
                                                <h2>
                                                    <a>
                                                        <span class="badge badge-mark border-blue mr-1"></span> Rufus Adams
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="unit">02:00</td>

                                            <td class="total">03:00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h2>
                                                    <a>
                                                        <span class="badge badge-mark border-blue mr-1"></span> Sharon Abularach
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="unit">02:00</td>

                                            <td class="total">03:00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h2>
                                                    <a>
                                                        <span class="badge badge-mark border-blue mr-1"></span> Jason Ray Abella
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="unit">02:00</td>

                                            <td class="total">03:00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h2>
                                                    <a>
                                                        <span class="badge badge-mark border-blue mr-1"></span> Bryan Acosta
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="unit">02:00</td>

                                            <td class="total">03:00</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div>



            <table class="table text-nowrap d-none">

                <tbody>
                    <tr class="table-active table-border-double">
                        <td colspan="5">Today</td>
                        <td class="text-right">
                            <span class="progress-meter" id="today-progress" data-progress="30"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">

                                <div>
                                    <a href="#" class="text-default font-weight-semibold">SignIn Time</a>
                                    <div class="text-muted font-size-sm">
                                        <span class="badge badge-mark border-blue mr-1"></span> Carl Jackson 02:00 - 03:00
                                    </div>
                                    <div class="text-muted font-size-sm">
                                        <span class="badge badge-mark border-blue mr-1"></span> Nicholas Abell 02:00 - 03:00
                                    </div>
                                    <div class="text-muted font-size-sm">
                                        <span class="badge badge-mark border-blue mr-1"></span> James Adams 02:00 - 03:00
                                    </div>
                                    <div class="text-muted font-size-sm">
                                        <span class="badge badge-mark border-blue mr-1"></span> Jose Abularach 02:00 - 03:00
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>


                    <tr class="table-active table-border-double">
                        <td colspan="5">Yesterday</td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">

                                <div>
                                    <a href="#" class="text-default font-weight-semibold">SignIn Time
                                    </a>
                                    <div class="text-muted font-size-sm">
                                        <span class="badge badge-mark border-blue mr-1"></span> Rufus Adams 02:00 - 03:00
                                    </div>
                                    <div class="text-muted font-size-sm">
                                        <span class="badge badge-mark border-blue mr-1"></span> Sharon Abularach 02:00 - 03:00
                                    </div>
                                    <div class="text-muted font-size-sm">
                                        <span class="badge badge-mark border-blue mr-1"></span> Jason Ray Abella 02:00 - 03:00
                                    </div>
                                    <div class="text-muted font-size-sm">
                                        <span class="badge badge-mark border-blue mr-1"></span> Bryan Acosta 02:00 - 03:00
                                    </div>
                                </div>
                            </div>
                        </td>


                    </tr>

                </tbody>
            </table>
        </div>

        <!-- <div class="col-md-12 sign-in">
    <h1 class="mt-3" style="font-size: 28px;">Sign in</h1>
    <hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>EmployeeNo</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>SignIn Time</th>
            <th>SignOut Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>370934</td>
            <td>Carl</td>
            <td>Jackson</td>
            <td>05/10/2020 00:00</td>
            <td>05/10/2020 08:00</td>
        </tr>
        <tr>
            <td>370934</td>
            <td>Carl</td>
            <td>Jackson</td>
            <td>05/10/2020 00:00</td>
            <td>05/10/2020 08:00</td>
        </tr>
        <tr>
            <td>370934</td>
            <td>Carl</td>
            <td>Jackson</td>
            <td>05/10/2020 00:00</td>
            <td>05/10/2020 08:00</td>
        </tr>
        <tr>
            <td>370934</td>
            <td>Carl</td>
            <td>Jackson</td>
            <td>05/10/2020 00:00</td>
            <td>05/10/2020 08:00</td>
        </tr>
    </tbody>
</table>
</div> -->

    </div>
    <!-- /marketing campaigns -->


    <!-- Quick stats boxes -->
    <div class="row">


        <div class="col-lg-4">

            <!-- Current server load -->

            <!-- /current server load -->

        </div>


    </div>
    <!-- /quick stats boxes -->

</div>


<!-- /dashboard content -->