<form>
    <div class="accountbg"></div>

    <div class="wrapper-page">
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5 col-xl-5 col-md-6 col-sm-9" style="margin: 0% auto;">

                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center pt-3">
                                        <h1>Login</h1>
                                        <!-- <img src="assets/global_assets/images/wish-logo1.png" alt="logo" height="65" /> -->
                                    </div>
                                    <div class="px-3 pb-3">
                                        <form class="form-horizontal m-t-20 mb-0" action="">

                                            <div class="form-group">
                                                <label for="txtLoginId" class="label">Username</label>
                                                <input name="txtLoginId" type="text" [(ngModel)]="LoginId" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="txtPwd" class="label">Password</label>
                                                <input name="txtPwd" type="password" [(ngModel)]="Password" class="form-control">
                                            </div>

                                            <!-- <div class="form-group ">
                                              <div class="checkbox">
                                                  <label>
                                                      <input type="checkbox"> Remember Me
                                                  </label>
                                              </div>
                                          </div> -->

                                            <div class="form-group text-right row m-t-20">
                                                <div class="col-12 m-t-30">
                                                    <button class="btn btn-primary btn-raised btn-block waves-effect waves-light" type="submit" (click)="Login()">Log In</button>
                                                    <!-- <p>
                                                    <img  id="spinner" style="display:none;" src="assets/images/Spinner-1s-50px.gif" />
                                                  </p> -->
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>