<!-- <div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Records / Add / Edit Venue</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div> -->
<!-- Content area -->
<div class="content">
    <!-- Main charts -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <!-- <div class="card-header header-elements-inline">
                    <h2 class="card-title">Add / Edit Venue - <span class="text-primary">{{f.name.value}}</span>
                    </h2>
                    <div class="header-elements">
                        <div class="list-icons" style="color: red;">
                            Note: All the * marked fields are mandatory
                        </div>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body record-emp-deatil p-0">
                    <!-- <h2 class="card-title">Search Result</h2>   -->
                    <div class="d-md-flex mt-0">
                        <ul class="nav nav-tabs side-nav nav-tabs-vertical flex-column wmin-md-200 mb-md-0 border-bottom-0 left-side-div">
                            <li class="nav-item"><a href="#VenueInfo-tab1" class="nav-link active" data-toggle="tab" (click)="TabChange(1)">Venue Info</a></li>
                            <li class="nav-item"><a href="#ContactInfo-tab2" class="nav-link" data-toggle="tab" (click)="TabChange(2)">Address
                                </a></li>
                            <li class="nav-item"><a href="#OtherInfo-tab3" class="nav-link" data-toggle="tab" (click)="TabChange(3)">Other
                                    Info</a>
                            </li>
                            <li class="nav-item" *ngIf="f.venueId.value>0"><a href="#Client-tab4" class="nav-link" data-toggle="tab" (click)="TabChange(4)">Client</a>
                            </li>
                            <li class="nav-item" *ngIf="f.venueId.value>0"><a href="#LocationInfo-tab5" class="nav-link" data-toggle="tab" (click)="TabChange(5)">Location
                                    Info</a>
                            </li>
                        </ul>
                        <form [formGroup]="VenueForm" class="w-100">
                            <div class="tab-content w-100 tab-right-sec">

                                <div class="tab-pane fade active show" id="VenueInfo-tab1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Venue Name <span class="error">*</span></mat-label>
                                                <input type="text" matInput formControlName="name" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Venue Description</mat-label>
                                                <input type="text" matInput formControlName="description" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Branch Name <span class="error">*</span></mat-label>
                                                <mat-select matNativeControl formControlName="branchID" [ngClass]="{ 'is-invalid': submitted && f.branchID.errors }">
                                                    <mat-option *ngFor="let row of brData" [value]="row.branchId">
                                                        {{row.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Email </mat-label>
                                                <input type="text" matInput formControlName="email" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Web Address </mat-label>
                                                <input type="text" matInput formControlName="webAddress" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.webAddress.errors }">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Phone1 <span class="error">*</span></mat-label>
                                                <input type="text" matInput formControlName="phone1" minlength="10" [mask]="phoneMask" [dropSpecialCharacters]="true" [showMaskTyped]="showMask" (focus)="addMask($event);" [ngClass]="{ 'is-invalid': submitted && f.phone1.errors }">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Phone2 </mat-label>
                                                <input type="text" matInput formControlName="phone2" minlength="10" [mask]="phoneMask" [dropSpecialCharacters]="true" [showMaskTyped]="showMask" (focus)="addMask($event);" [ngClass]="{ 'is-invalid': submitted && f.phone2.errors }">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Fax </mat-label>
                                                <input type="text" matInput formControlName="fax" minlength="10" [mask]="phoneMask" [dropSpecialCharacters]="true" [showMaskTyped]="showMask" (focus)="addMask($event);" [ngClass]="{ 'is-invalid': submitted && f.fax.errors }">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Status</mat-label>
                                                <mat-select formControlName="statusID" [ngClass]="{ 'is-invalid': submitted && f.statusID.errors }">
                                                    <mat-option *ngFor="let lst of lstStatus" [value]="lst.statusId">
                                                        {{lst.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mt-2">
                                            <label id="HiringRadio">Hiring Location : &nbsp;</label>

                                            <mat-radio-group aria-labelledby="HiringRadio" formControlName="hiringLocation">
                                                <mat-radio-button value="True">Yes </mat-radio-button> &nbsp;
                                                <mat-radio-button value="False">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ContactInfo-tab2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Address Line 1 <span class="error">*</span></mat-label>
                                                <input type="text" matInput formControlName="address1" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.address1.errors }">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Address Line 2</mat-label>
                                                <input type="text" matInput formControlName="address2" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.address2.errors }">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <app-country-state-city [ObjFormGroup]="'f'" [FormGroupName]="VenueForm" [CityFormControlName]="'city'" [StateFormControlName]="'state'" [ZipFormControlName]="'zip'" [countryFormControlName]="'country'">
                                            </app-country-state-city>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="OtherInfo-tab3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Travel Instructions</mat-label>
                                                <textarea type="text" matInput formControlName="travelInstructions" maxlength="200"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Notes</mat-label>
                                                <textarea type="text" matInput formControlName="notes" maxlength="200"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Venue Sign In Area</mat-label>
                                                <textarea type="text" matInput formControlName="signInArea" maxlength="200"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Parking Instructions</mat-label>
                                                <textarea type="text" matInput formControlName="parkingInstructions" maxlength="200"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Client-tab4" *ngIf="f.venueId.value>0">
                                    <div class="row">

                                        <div class=" col-md-12">
                                            <h2>Existing Clients</h2>
                                            <hr>
                                            <div *ngIf="dataSourceExistingClients.filteredData.length==0">No Records found.
                                            </div>
                                            <table mat-table [dataSource]="dataSourceExistingClients" class="col-md-12" *ngIf="dataSourceExistingClients.filteredData.length>0">
                                                <!-- Client Name Column -->
                                                <ng-container matColumnDef="statusID">
                                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-icon>{{element.statusID==5?'check':'close'}}</mat-icon>
                                                    </td>
                                                </ng-container>

                                                <!-- Client Name Column -->
                                                <ng-container matColumnDef="name">
                                                    <th mat-header-cell *matHeaderCellDef> Client Name </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                                </ng-container>

                                                <!-- Address Column -->
                                                <ng-container matColumnDef="address1">
                                                    <th mat-header-cell *matHeaderCellDef> Address </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
                                                </ng-container>

                                                <!-- City Column -->
                                                <ng-container matColumnDef="city">
                                                    <th mat-header-cell *matHeaderCellDef> City </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                                                </ng-container>

                                                <!-- State Column -->
                                                <ng-container matColumnDef="state">
                                                    <th mat-header-cell *matHeaderCellDef> State </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                                                </ng-container>

                                                <!-- State Column -->
                                                <ng-container matColumnDef="phone1">
                                                    <th mat-header-cell *matHeaderCellDef> Phone </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.phone1}} </td>
                                                </ng-container>

                                                <!-- State Column -->
                                                <ng-container matColumnDef="venueClientsID">
                                                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <a (click)="DelVenueClient(element.venueClientsID)">
                                                            <mat-icon>delete</mat-icon>
                                                        </a>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedExistingClientsColumns">
                                                </tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedExistingClientsColumns;">
                                                </tr>
                                            </table>

                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-12">
                                            <p>&nbsp;</p>
                                            <h2>Add New Clients</h2>
                                            <hr>
                                            <app-client (SearchData)="Search($event)"></app-client>
                                        </div>
                                        <h2 *ngIf="showheader" class="card-title">Search Result</h2>
                                        <hr class="col-md-12" *ngIf="showheader">
                                        <div class="col-md-12" *ngIf="norecord">No Records found.</div>
                                        <div class="col-md-12" [ngStyle]="dataSource.filteredData.length== 0 ? {'visibility':'hidden'} : {'visibility':'visible'}">
                                            <table mat-table [dataSource]="dataSource" class="col-md-12">
                                                <!-- Client Name Column -->
                                                <ng-container matColumnDef="chkFlag">
                                                    <th mat-header-cell *matHeaderCellDef> Select </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <section class="example-section">
                                                            <mat-checkbox class="example-margin" [(ngModel)]="element.chkFlag" [ngModelOptions]="{standalone: true}" [disabled]="element.statusID==6"></mat-checkbox>
                                                        </section>
                                                    </td>
                                                </ng-container>

                                                <!-- Client Name Column -->
                                                <ng-container matColumnDef="statusID">
                                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-icon>{{element.statusID==5?'check':'close'}}</mat-icon>
                                                    </td>
                                                </ng-container>

                                                <!-- Client Name Column -->
                                                <ng-container matColumnDef="name">
                                                    <th mat-header-cell *matHeaderCellDef> Client Name </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                                </ng-container>

                                                <!-- Address Column -->
                                                <ng-container matColumnDef="address1">
                                                    <th mat-header-cell *matHeaderCellDef> Address </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
                                                </ng-container>

                                                <!-- City Column -->
                                                <ng-container matColumnDef="city">
                                                    <th mat-header-cell *matHeaderCellDef> City </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                                                </ng-container>

                                                <!-- State Column -->
                                                <ng-container matColumnDef="state">
                                                    <th mat-header-cell *matHeaderCellDef> State </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                                                </ng-container>

                                                <!-- State Column -->
                                                <ng-container matColumnDef="phone1">
                                                    <th mat-header-cell *matHeaderCellDef> Phone </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.phone1}} </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>

                                            <mat-paginator [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons>
                                            </mat-paginator>
                                        </div>
                                        <div class="mb-3 mt-3">
                                            <button type="button" (click)="onBack()" class="btn btn-secondary btn-lg">Back</button> &nbsp;
                                            <button type="button" class="btn btn-success btn-lg" *ngIf="dataSource.filteredData.length>0" (click)="AddClient()">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="LocationInfo-tab5" *ngIf="f.venueId.value>0">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Driving Direction</mat-label>
                                                <input type="text" matInput formControlName="drivingDirection">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile" accept=".gif,.jpeg,.png,.jpg" (change)="fnFileName($event,'drivingDirectionFileBase64')">
                                                <label class="custom-file-label" for="customFile">Direction Map </label>
                                            </div>
                                            <!-- <span>Direction Map </span>
                                            <input type="file"  /> -->
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Parking Location </mat-label>
                                                <input type="text" matInput formControlName="parkingLocation" maxlength="50">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Room Number</mat-label>
                                                <input type="text" matInput formControlName="roomNumber" maxlength="50">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Identification requirements</mat-label>
                                                <input type="text" matInput formControlName="identificationReq" maxlength="50">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Special Instructions </mat-label>
                                                <input type="text" matInput formControlName="specialInstructions" maxlength="50">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFilepropery" accept=".gif,.jpeg,.png,.jpg" (change)="fnFileName($event,'mapFileBase64')">
                                                <label class="custom-file-label" for="customFilepropery">Map(Property/Building) </label>
                                            </div>


                                            <!-- <span>Map(Property/Building) </span>
                                            <input type="file" accept=".gif,.jpeg,.png,.jpg"  /> -->
                                        </div>

                                    </div>
                                </div>
                                <div class="pb-3 mt-3 text-right">
                                    <button type="button" *ngIf="IsButtonShow" (click)="onBack()" class="btn btn-secondary btn-lg">Back</button> &nbsp;
                                    <button type="button" *ngIf="IsButtonShow" class="btn btn-success btn-lg" (click)="onSubmit()">Save</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>

    </div>

</div>
<!-- /main charts -->