<div class="row">
    <div class="col-md-2">
        <mat-form-field appearance="outline">
            <mat-label>Client Type</mat-label>
            <mat-select [formControl]="selectedClientType">
                <mat-option value="0">All</mat-option>
                <mat-option *ngFor="let lstClient of lstClientType" value="{{lstClient.lookupClientTypeId}}">
                    {{lstClient.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-2">
        <mat-form-field appearance="outline">
            <mat-label>Branch Name</mat-label>
            <mat-select [formControl]="selectedBranch">
                <mat-option value="0">All</mat-option>
                <mat-option *ngFor="let row of brData" value="{{row.branchId}}">
                    {{row.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-2">
        <mat-form-field appearance="outline">
            <mat-label>Client Name</mat-label>
            <input type="text" matInput [formControl]="clientName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClientNameFn">
                <mat-option *ngFor="let lstClient of filteredClient  | async" [value]="lstClient">
                    {{lstClient.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>
    <div class="col-md-2">
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="selectedStatus">
                <mat-option value="0">All</mat-option>
                <mat-option *ngFor="let lst of lstStatus" value="{{lst.statusId}}">
                    {{lst.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-1 mt-2">

        <button mat-raised-button color="primary" (click)="Search();">Search</button>

    </div>
    <div class="col-md-1 mt-2">
        <button mat-raised-button *ngIf="IsShowAdd" (click)="onAddNew();">Add New</button>
    </div>
</div>